- body_class "users_view"
= render 'shared/navi_bar'

%div.container-fluid
  %h1 Application Type Questionnaire
  %h2 #{@response}
  %hr
  - @display_questions.each do |statement|
    %h5.fit #{statement[:question]}      
    - statement[:answer].each do |a|
      =link_to "#{a.ans}", survey_user_path(:ans => a.id), :class => ("selected" if (@current_selected_answers.include?(a.id)))
      &nbsp 
    %hr
  -if @end_of_questionnaire
    =button_to 'Fill up Questionaire Form', submit_survey_user_path(@user, :results => @results), {data: { confirm: "Are you sure?" }}