%div.container-fluid
  %h1 Form Content

  %p= "Contents of #{@form.form_name}"

  %div.row.header
    %div.span3
      %p Form Question
    %div.span3
      %p Type
    %div.span3
      %p Created At
    %div.span3
      %p Actions
            
  %ul.sortable
    - if !@form_questions.nil?
      = render @form_questions

  = button_to "Add Form Question", new_admin_form_form_question_path, {:id => "create_but", method: :get}