%h1 Questionnaire
%h2 #{@response}
%hr
- @display.each do |statement|
  %h2 #{statement[:question]}
  - statement[:answer].each do |a|
    =link_to "#{a.ans}", questionnaire_user_path(:ans => a.id), :class => ("selected" if (@selected_a_id.include?(a.id)))
    &nbsp 
  %hr
\
\
-if @end_of_questionnaire
  =link_to 'Submit Questionnaire', user_path(:questionnaire_response => @form)
