%h1 User Page
%p Welcome #{@user.email}

%h2 #{@response}
= button_to "Logout", destroy_user_session_path, {:id => "logout_but", method: :delete}
= button_to "Take Survey", user_questionnaire_path(@user), {:id => "questionnaire_but", method: :get}
