%div.span6
  %h3 About the Festival

  %p The San Francisco Vegetarian Society (www.sfvs.org) invites you to participate as a vendor, exhibitor or sponsor for our upcoming World Veg Festival held at the San Francisco County Fair Building (Hall of Flowers at 9th Avenue & Lincoln Way) in the Golden Gate Park.  The event received the 2007 VegNews Veggie Award and a Declaration by the San Francisco City Mayor Ed Lee as World Vegetarian Day Celebration.  The purpose of the event is to promote the great health, environmental, and ethical benefits of a plant-based diet, consumption and as a way of life.

  %p The County Fair Building provides approximately 20,000 square feet of space, and we had 5,500 people attend last year’s event.  We are hoping to attract even more people this year with a two-day event, a lively celebration including exhibits, entertainment, food sampling, renowned speakers and cooking demonstrations.

  %p Please be a part of this veg*n weekend by being a vendor or exhibitor of your product to be sampled and/or sold, as well as any information you may have about your product.  It is our goal to introduce more and more people to vegetarianism and veganism, and to your product as well.

  %p If you have any questions, these will be answered as you go through the registration process  We look forward to an exciting celebration with your participation and support.

  %p WVF Planning Committee
  %p San Francisco Vegetarian Society

  = link_to 'www.worldvegfestival.com', "http://www.worldvegfestival.com", target: "_blank"
  %br
  = link_to 'www.sfvs.org', "http://www.sfvs.org", target: "_blank"
