// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_titles {
  
}

.admin_list_link {
	text-decoration: none;
}

.admin_link {
	text-align: center;
	padding: 8px;
}

#index_title {

}

.admin_button {
	text-decoration: none;
}

.navi_header {
	text-decoration: none;
}

.search_btn {
  position: absolute;
  top: 22px;
  left: 230px;
}

.user_search {
  position: relative;
  right: 23px;
}

.search_fields {
  display: inline-block;
}

.user_filter {
  position: relative;
  left: 200px;
}

.filter_btn {
  position: absolute;
  top: 22px;
  left: 230px;
}

.admin_index_page div {
  float: left;
}

// Admin Index Page Styling

.admin_info {
  left: 0px;
  position: absolute;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #8AC007;
  margin-left: 270px;
  margin-top: 100px;
  margin-right: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.about_us_container {
  position: absolute;
  left: 925px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #8AC007;
  margin-top: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.admin_links {
  left: 590px;
  position: absolute;
  margin-top: 96px;
}

.u_link_content {
  background-color: #33CC33;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 120px;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

.u_link_content:hover {
  opacity: 1.0;
}

.link_title {
  text-align: center;
}

.link_description {
  font-size: 80%;
  text-align: left;
  opacity: 0;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

.u_link_content:hover .link_description {
  opacity: 0.75;
}

.f_link_content {
  background-color: #6392c0;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 120px;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

.f_link_content:hover .link_description {
  opacity: 0.75;
}

.f_link_content:hover {
  opacity: 1.0;
}

.admin_users_link {
  margin-top: 4px;
  margin-bottom: 15px;
}

// Button style

#update_field {
  margin-top: 5px;
}

.admin_btns {
  margin-top: 315px;
}

#edit_btn {
  background-color: #33CC33;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 90px;
  padding-right: 90px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#edit_btn:hover {
  opacity: 1.0;
}

#update_btn {
  background-color: #6392c0;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 102px;
  padding-right: 102px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#update_btn:hover {
  opacity: 1.0;
}

#submit_payment_button {
  background-color: #6392c0;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 93px;
  padding-right: 93px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#submit_payment_button:hover {
  opacity: 1.0;  
}

#logout_btn {
  background-color: #CC3300;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 102px;
  padding-right: 102px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#logout_btn:hover {
  opacity: 1.0;
}

#delete_btn {
  background-color: #CC3300;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#delete_btn:hover {
  opacity: 1.0;
}

#view_btn {
  background-color: #FF9900;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#view_btn:hover {
  opacity: 1.0;
}

#but_1 {
  margin-bottom: 10px;
}

#aprove_btn {
  background-color: #6392c0;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-left: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 500px;
  padding-right: 500px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#aprove_btn:hover {
  opacity: 1.0;
}

#save_and_ret_btn {
  background-color: #6392c0;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-left: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 475px;
  padding-right: 460px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#save_and_ret_btn:hover {
  opacity: 1.0;
}

.user_aprove_btn {
  margin-top: 20px;
}

#submit_btn {
  background-color: #6392c0;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-left: 775px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#submit_btn:hover {
  opacity: 1.0;
}

#submit_app_btn {
  background-color: #6392c0;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-left: 200px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#submit_app_btn:hover {
  opacity: 1.0;
}

#search_filter_btn {
  background-color: #6392c0;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#search_filter_btn:hover {
  opacity: 1.0;
}

#restart_app_btn {
  background-color: #CC3300;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-left: 200px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#restart_app_btn:hover {
  opacity: 1.0;
}

#delete_btn_centered {
  background-color: #CC3300;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-left: 775px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#delete_btn_centered:hover {
  opacity: 1.0;
}

#back_btn {
  background-color: #FF9900;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-left: 802px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#back_btn:hover {
  opacity: 1.0;
}

#form_edit_btn {
  background-color: #33CC33;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#form_edit_btn:hover {
  opacity: 1.0;
}

// Users List (Users Index Page Styles)

.users_index_title {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #8AC007;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.users_search_fields {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #8AC007;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.users_content {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #8AC007;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.effect2 {
  border-radius: 25px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.user_content {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #8AC007;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#app_more {
  padding-left: 35px;
}

#form_q_header p {
  font-weight: bold;
}

.back_user_btn {
  margin-top: 10px;
}