.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 20px;
  margin-bottom: 5px;
}
 
.sortable {
  display: list-item;
  list-style-type: none;
}

li {
  display: inline;
}

.form_q {
  padding: 10px;
}

.form_q_button a {
  text-decoration: none;
}