%h3 Forms List

%div
  %table.table.table-hover
    %thead
      %tr
        %th Form
        %th Created At
        %th Actions
    %tbody
      - if !@forms.nil?
        - @forms.each do |form|
          %tr
            %td= form.form_name
            %td= form.created_at
            %td= link_to "Show", admin_form_form_questions_path(form)