%h3 Forms List

%div
  %table#forms
    %thead
      %tr
        %th Form
        %th Edit
    %tbody
      - if !@forms.nil?
        - @forms.each do |form|
          %tr
            %td= form.form_name
            %td= link_to "More Information", admin_form_form_questions_path(form)