%h1 Form Content

%p= "Contents of Form: #{@form.form_name}"

%div
  %table#form_questions
    %thead
      %tr
        %th Form Questions
    %tbody
      - if !@form_questions.nil?
        - @form_questions.each do |form_question|
          %tr
            %td= form_question.question

= button_to "Edit", edit_admin_form_path(@form), {:id => "edit_but", method: :get}