.login_container {
  border-radius: 25px;
  border: 2px solid #8AC007;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 60px;
  width: 320px;
  height: 350px;
}