html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.login_container {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #8AC007;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 60px 0px 70px 80px;
  width: 320px;
  height: 350px;
}

.edit_container {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #8AC007;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 60px 0px 70px 80px;
  width: 320px;
  height: 850px;
}

.registration_container {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #8AC007;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 60px 0px 70px 80px;
  width: 320px;
  height: 620px;
}

#background_cycler{padding:0;margin:0;width:100%;position:absolute;top:0;left:0;z-index:-1}
#background_cycler img{position:absolute;left:0;top:0;width:100%;z-index:1}
#background_cycler img.active{z-index:3}

.authentication_button {
	text-decoration: none;
	margin: 0px 0px 5px 0px;
}

.password_container {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #8AC007;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 60px 10px 30px 80px;
  width: 430px;
  height: 350px;
}

.regis_alert li {
  display: block;
}

.login_btn {
  background-color: #33CC33;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 102px;
  padding-right: 102px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

.login_btn:hover {
  opacity: 1.0;
  color: white;
  text-decoration: none;
}

#lgin_btn {
  margin-bottom: 10px;
}

.new_user_btn {
  background-color: #33CC33;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 93px;
  padding-right: 93px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

.new_user_btn:hover {
  text-decoration: none;
  color: white;
  opacity: 1.0;
}

.forgot_btn {
  background-color: #CC3300;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

.forgot_btn:hover {
  text-decoration: none;
  color: white;
  opacity: 1.0;
}

#fgt_btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#login_header {
  margin-left: 60px;
}