// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_forms {
	border: 1px #e4e4e4 solid;
	padding: 20px 0px 180px 30px;
}

.users_index_page div {
  float: left;
}

.users_information {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #8AC007;
  position: absolute;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 8px;
  width: 350px;
}

 .users_forms {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #8AC007;
  margin-left: 400px;
  margin-top: 30px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
 }

.users_about_us {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #8AC007;
  position: absolute;
  left: 1140px;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 170px;
}

#quest_btn {
  background-color: #33CC33;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#quest_btn:hover {
  opacity: 1.0;
}

.user_btns {
  margin-top: 207px;
}

.edit_users_content {
  position: absolute;
  left: 200px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #8AC007;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.extra_info {
  position: absolute;
  top: 205px;
  left: 1050px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #8AC007;
  margin-left: 10px;
  margin-right: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 207px;
}

.users_edit_title {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #8AC007;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#edit_user_back_btn {
  background-color: #FF9900;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  margin-left: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0.7;
  transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
}

#edit_user_back_btn:hover {
  opacity: 1.0;
}