// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$maroon: maroon;
$yellow: yellow;

a {
	background-color: transparent;
	color: $maroon;
	text-decoration: underline;
	font-weight: bold;
}

a.selected {
	background-color: $yellow;
}