%h1 Admin Page

%h3 Users List

%table#users
  %thead
    %tr
      %th Email
      %th More Info
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to "More Info", admin_user_path(user)

= link_to "Create new user", new_admin_user_path